
*.fasl
*.x86f
*.lx64fsl
*.lx32fsl
*.dx64fsl
*.dx32fsl
*.wx64fsl
*.wx32fsl
*.ax64fsl
*.ax32fsl
*.px64fsl
*.px32fsl
*.fx64fsl
*.fx32fsl

.roswell/
_build/

Qlot
.qlot/

profile.txt

*.fasl
*.asd-fasl
jenkins_home/